<header>
    <div class="container">
        <p class="title">Warhammer My Army</p>
        <nav>
            <ul class="navBar">
                <li><a [routerLink]="['/']" href="/">Accueil</a></li>
                <li>
                    <a [routerLink]="['/builder']" href="/builder">Création d'armée</a>
                </li>
                <li>
                    <a href="/army">Armées</a>
                </li>
                <li>
                    <a [routerLink]="['/login']" href="/login">Connexion</a>
                </li>
                <li>
                    <a [routerLink]="['/register']" href="/register">Inscription</a>
                </li>
            </ul>
        </nav>
    </div>
</header>