header {
    padding: 1rem 0;
    background-color: #455660;
    color: #fafafa;
}
.container {
    display: flex;
    justify-content: space-between;
}
.title {
    align-self: center;
}
.navBar {
    display: flex;
    justify-content: space-between;
}
li a{
    display: block;
    border-right:#fafafa 1px solid;
    padding: 1rem;
}
li:first-child a{
    border-left:#fafafa 1px solid;
}
li:hover a{
    color: #455660;
}
li:hover {
    background-color: #fafafa;
}