section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
section div {
    width: 25%;
}
div img {
    border-radius: 15px;
}
section .intro {
    width: 45%;
    margin: 2rem 0;
    order: 2;
    border-radius: 10px;
    border: #2AA9BD 1px solid;
    box-shadow: #435667 0 0 15px;
}
section div p,section article p {
    width: 60%;
    margin: 1rem auto;
    text-align: justify;
}
section article {
    width: 40%;
    margin: 2rem 0;
    padding: 1rem;
    display: flex;
    border: #2AA9BD 1px solid;
    box-shadow: #435667 0 0 10px;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
button {
    margin: auto;
    padding: 0.5rem;
    border: none;
    background-color: #2AA9BD;
    border-radius: 5px;
    box-shadow: #435667 1px 1px 5px;
}
button:hover {
    color: #fafafa;
}
button:active {
    box-shadow: #435667 0px 0px 1px;
}
h2 {
    margin: 1rem;
    text-align: center;
}