<main>
    <div class="container">
        <section>
            <div>
                <h1>Les armées</h1>
                <table id="display">
                    <thead>
                        <tr>
                            <th class="row">
                                Nom de l'armée
                            </th>
                            <th class="row">
                                Factions
                            </th>
                            <th class="row">
                                Points
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let army of armyList$ | async">
                            <td class="row" (click)="displayUnits(army)">{{army.armyName}}</td>
                            <td class="row">{{army.faction}}</td>
                            <td class="row">{{ArmyPoints(army)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</main>