<main>
    <div class="container">
        <section>
            <h1>Mes armées</h1>
            <table id="display">
                <thead>
                    <tr>
                        <th class="row">
                            Nom de l'armée
                        </th>
                        <th class="row">
                            Factions
                        </th>
                        <th class="row">
                            Points
                        </th>
                        <th class="row">
                            Supprimer
                        </th>
                    </tr>
                </thead>
                <tbody *ngFor="let army of user.army; let index = index">
                        <tr>
                            <td class="row" (click)="displayUnits(index)">{{army.armyName}}</td>
                            <td class="row">{{army.faction}}</td>
                            <td class="row">{{ArmyPoints(army)}}</td>
                            <td class="row"><button class="delete" (click)="removeArmy(index)"><i class="fa-solid fa-trash-can"></i></button></td>
                        </tr>
                        <tr class="disable unitsList{{index}}" *ngFor="let unit of army.units; let uIndex = index">
                            <td class="unitsRow">{{unit.unitsName}}</td>
                            <td class="unitsRow">{{unit.nombreFigurine}}</td>
                            <td class="unitsRow">{{unit.points}}</td>
                            <td class="unitsRow"><button class="delete" (click)="removeUnitsFromArmy(army, uIndex)"><i class="fa-solid fa-trash-can"></i></button></td>
                        </tr>
                </tbody>
            </table>
        </section>    
        <aside>
            <h2>Mon Profil</h2>
            <form method="POST" action="https://localhost:8080/update" [formGroup]="updateForm" (ngSubmit)="updateUser()">
                <p *ngIf="submitted && !this.testPassword">Mot de passe ou nom d'utilisateur incorrect</p>
                <label for="username">Nom d'utilisateur</label>
                <input (change)="checkUsername()" type="text" id="username" name="username" formControlName="username" value="{{user.username}}">
                <p *ngIf="submitted && this.f['username'].errors">Le nom d'utilisateur n'est pas valide</p>
                <p *ngIf="(check | async) && checked">Le nom d'utilisateur est déjà pris.</p>
                <label for="mail">Adresse E-mail</label>
                <input type="email" id="mail" name="mail" formControlName="mail" value="{{user.mail}}">
                <p *ngIf="submitted && this.f['mail'].errors">L'adresse E-mail n'est pas valide</p>
                <label for="oldPassword">Ancien mot de passe (nécessaire pour toutes les opérations)</label>
                <input type="password" id="oldPassword" name="oldPassword" formControlName="oldPassword">
                <label for="password">Nouveau mot de passe</label>
                <input type="password" id="newPassword" name="newPassword" formControlName="newPassword">
                <p *ngIf="submitted && this.f['newPassword'].errors">Le mot de passe n'est pas valide</p>
                <label for="passwordConfirmation">Confirmation du nouveau Mot de passe</label>
                <input type="password" id="passwordConfirmation" name="passwordConfirmation" formControlName="passwordConfirmation">
                <p *ngIf="submitted && this.updateForm.errors != null">Les mots de passe ne correspondent pas</p>
                <button id="confirm" type="submit" class="save">Modifier mon profil</button>
            </form>
        </aside>
    </div>
</main>