section{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h1 {
    width: 100%;
    text-align: center;
}
form {
    width: 30%;
    text-align: center;
}
select {
    width: 50%;
}
label {
    margin: 0.5rem auto;
    display: block;
    width: 100%;
    font-weight: 700;
}
.table {
    border: #455660 1px solid;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    
}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border-collapse: collapse;
    border: #455660 1px solid;
    padding: 1rem;
    width: 33%;
    text-align: center;
}
.army{
    width: 80%;
}