<main>
    <div class="container">
        <section>
            <h1>
                Créez votre armée
            </h1>
            <div class="army">
                <table>
                    <thead>
                        <tr>
                            <th class="headTable">{{myArmy.armyName}}</th>
                            <th class="headTable">{{myArmy.faction}}</th>
                            <th class="headTable">{{myArmy.alliance}}</th>
                        </tr>
                </thead>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th>Nom de l'unité</th>
                            <th>Points</th>
                            <th class="rowdelete">Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let units of myArmy.units; let index = index">
                            <td>{{units.unitsName}}</td>
                            <td>{{units.points}}</td>
                            <td class="rowdelete"><button class="delete" (click)="removeUnitsFromArmy(index)"><i class="fa-solid fa-trash-can"></i></button></td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <th><button class="save" (click)="saveArmy(myArmy)">Enregistrer</button></th>
                            <th>{{ArmyPoints(myArmy)}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form [formGroup]="armyForm">
                <div>
                    <label for="alliance">Alliance :</label>
                    <select name="alliance" id="alliance" formControlName="alliance">
                        <option *ngFor="let alliance of alliances | async" [value]="alliance.allianceName" value="{{alliance.allianceName}}">
                            {{alliance.allianceName}}
                        </option>
                    </select>
                </div>
                <div>
                    <label for="alliance">Faction :</label>
                    <select name="faction" id="faction" formControlName="faction">
                        <option [value]="'choice'">Choisir une Faction</option>
                        <option *ngFor="let faction of getFactionOfAlliance(alliances | async)" [value]="faction.factionName" value="{{faction.factionName}}">
                            {{faction.factionName}}
                        </option>
                    </select>
                </div> 
                <div>
                    <label for="name">Nom de votre armée :</label>
                    <input type="text" name="name" id="name" formControlName="name">
                </div>
            </form>
            <div class="table">
                <table class="units">
                    <thead>
                        <tr>
                            <th>
                                Nom de l'unité
                            </th>
                            <th>
                                Points
                            </th>
                            <th>
                                Nombre de figurine
                            </th>
                            <th>
                                Ajouter
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let units of getUnitsOfFaction(faction | async)">
                            <td>
                                {{units.unitsName}}
                            </td>
                            <td>
                                {{units.points}}
                            </td>
                            <td>
                                {{units.nombreFigurine}}
                            </td>
                            <td>
                                <button class="add" (click)="editArmy(units)"><i class="fa-solid fa-plus"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</main>