section{
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h1 {
    width: 100%;
    text-align: center;
}
form {
    width: 100%;
}
form div{
    display: inline-block;
    width: 30%;
    text-align: center;
}
select {
    padding: 0.1rem;
    width: 50%;
}
input {
    padding: 0.1rem;
}
label {
    margin: 0.5rem auto;
    display: block;
    width: 100%;
    font-weight: 700;
}
.table {
    border: #455660 1px solid;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    
}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border-collapse: collapse;
    border: #455660 1px solid;
    padding: 1rem;
    width: 33%;
    text-align: center;
}
.headTable {
    border: #455660 2px solid;
    width: 33%;
}
.units th, .units td{
    width: 25%;
}
.army{
    width: 80%;
}
button {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
}
.save {
    width: auto;
    height: auto;
    padding: 0.3rem;
    background-color: #2AA9BD;
    font-size: 1.3rem;
}
.delete {
    background-color: #d96969;
}
.add {
    font-size: 2rem;
    background-color: #C0DB6E;
}