<section>
    <h1>
        Créez votre armée
    </h1>
    <form [formGroup]="allianceForm">
        <select name="alliance" id="alliance" formControlName="alliance">
            <option *ngFor="let alliance of alliances" [value]="alliance.name" value="{{alliance.name}}">
                {{alliance.name}}
            </option>
        </select>
        <select name="faction" id="faction">
            <option *ngFor="let faction of getFactionOfAlliance()">
                {{faction.name}}
            </option>
        </select> 
    </form>
    <p></p>
</section>