<main>
    <section class="card">
        <h1>Connexion</h1>
        <form method="POST" action="https://localhost:8080/login">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" id="username" name="username" placeholder="Nom d'utilisateur" [(ngModel)]="username">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="Mot de passe" [(ngModel)]="password">
                <mat-error *ngIf="wrongCredentials">Nom de compte ou mot de passe incorrect</mat-error>
                <button id="btn-login" (click)="login()">Connexion</button>
        </form>
        <p>Pas encore inscrit ? <a [routerLink]="['/register']" href="/register">Créez un compte</a></p>
    </section>
</main>