main {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 30rem;
    margin: auto;
    padding: 1em 2em;
    border-radius: 5px;
    box-shadow: #435667 0 0 10px;
}

form {
    padding: 1em;
    border-radius: 10px;
    border:#435667 1px solid;
    display: flex;
    flex-direction: column;
}
label, input, button {
    margin: 0.5rem;
}
form {
    padding: 0.5rem;
    border-radius: 5px;
}
input {
    padding: 0.4rem;
    border-radius: 5px;
    border: none;
    box-shadow: #435667 0 0 5px inset;
}
button {
    width: 150px;
    padding: 0.2rem;
    border-radius: 5px;
    border: none;
    align-self: center;
    background-color: #C0DB6E;
    box-shadow: #435667 2px 2px 4px;
    cursor: pointer;
}
button:hover{
    color: #fafafa;
}
button:active{
    box-shadow: #435667 0px 0px 4px;
}
.card p {
    text-align: center;
    margin: 1rem;
}
.card p a{
    color:#435667;
    text-decoration: #435667 underline solid;
}