<main>
    <div class="container">
        <section>
            <h1>Les armées</h1>
            <table>
                <thead>
                    <tr>
                        <th>
                            Nom de l'armée
                        </th>
                        <th>
                            Factions
                        </th>
                        <th>
                            Points
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <app-liste></app-liste>
                </tbody>
            </table>
        </section>
    </div>
</main>