*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #efefef;
}
.card {
    width: 30rem;
    margin: auto;
    padding: 1em 2em;
    border-radius: 5px;
    box-shadow: #455660 0 0 10px;
}
app-root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
a {
    color:#fafafa;
    text-decoration: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
section, aside {
    margin: 2rem 1rem;
    border-radius: 10px;
    box-shadow: #435667 1px 1px 10px;
}
h1 {
    margin: 1rem 0;
    text-align: center;
}
button {
    border-radius: 5px;
    border: none;
    align-self: center;
    box-shadow: #455660 2px 2px 4px;
    cursor: pointer;
}
button:hover{
    color: #fafafa;
}
button:active{
    box-shadow: #455660 0px 0px 4px;
}
.unitsRow, .row, .rowhead {
    border: #455660 3px solid;
    padding: 1rem;
    width: 33%;
    text-align: center;
}
.Armydelete {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;

    background-color: #d96969;
}
.rowhead {
    font-weight: normal;
}
.modal {
    position: absolute;
    top: 50%;
    right: 50%;
    margin: 2rem 1rem;
    border-radius: 10px;
    box-shadow: #435667 1px 1px 10px;
}
table {
    padding: 1rem;
    width: 65%;
    margin: 1rem auto;
    border-collapse: collapse;
}