section {
    margin: 2rem 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: #435667 1px 1px 10px;
}
section div {
    width: 65%;
    margin: 1rem;
}
section div p,section article p {
    width: 60%;
    margin: 1rem auto;
    text-align: justify;
}
section article {
    width: 40%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
button {
    margin: auto;
}
h2 {
    margin: 1rem;
    text-align: center;
}